body {
    font-family: 'Arvo', serif;
    color : #484A47 !important;
}

html {
    scroll-behavior: smooth;
  }

/* Link Bar  */
#linkBar{
    background-color : #303030;
}
#linkBar .row{
    width:100%;
    flex-wrap: nowrap !important;
}
#ToulouseLogo{
    padding-top : 8px;
    padding-bottom: 8px;flex-wrap: nowrap !important;
}
i{
    padding-left : 8px;
    padding-right : 8px;
    color : white;
}
i p{
    font-family: 'Arvo', serif;
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    margin-bottom: 0px;
    vertical-align: middle;
}
#Logos i{
    float:right;
}
@media all and (max-width: 370px) {
    #ToulouseLogo{
        min-width : 170px;
    }
    #Logos{
        max-width: 110px;
        padding: 0;
    }
}

/* Navbar */

#portfolio{
    padding-left:30px;
    color : # !important;
}
.nav-link{
    color : #484A47 !important;
}
.nav-item{
    padding-right : 8px;
}
.navbar-toggler {
    background-color: #303030;
    margin-right:10px;
}
.navbar-toggler-icon{
    padding-right: 10px;
}
@media all and (max-width: 992px) {
    .nav-link{
        float: right;
    }
}

/* Title Block */
#titleBackground{
    background-image: url(./images/161124209440958128.jpeg);
}
#titleBlock{ 
    background-color: #303030;
    display: flex;
    flex-direction: row ;
    color:white;
    justify-content: center;
    min-height : 335px;
    text-align: center;
    margin-bottom : 10px;
    max-width:950px;
}

@media all and (max-width: 650px) {
    #titleBlock{
        display: flex;
        flex-flow: column wrap;
        max-width: 450px !important
    }
    #titleText {
        padding-top : 15px;
        min-width:260px;
    }
    #titlePhoto{    
        width:100%;
    }
}
@media all and (max-width: 400px) {
    #titleBlock{
        display: flex;
        flex-flow: column wrap;
    }
    #titleText {
        padding-top : 15px;
    }
    #titlePhoto img{    
        width:270px !important;
    }
}
#titlePhoto{
    padding-top:20px;

}
#titlePhoto img{
    width: 310px;
    border : 30px solid #2782B6;
    border-bottom: 80px solid #2782B6;
}
#titleText h1{
    padding-top: 20px;
    padding-bottom: 15px;
}
#titleText h2{
    font-weight: bold;
    font-size : 24px;
}

/* A propos de moi */

#aPropos{
    background-color : #e0ac9d;
    display: flex;
    flex-direction: row;
    width : 100%;
    min-height : 220px;
}

#verticalLine{
    border-right: 6px solid white;
    height: 200px;
    align-self: center;
}
h3{
    font-size : 22px;
    padding-left:30px;
    padding-top : 40px;
    text-align: center;
    padding-top: 40%;
    padding-bottom: 40%;
}
#aProposText{
    font-size: 18px;
    text-align: center;
    padding: 30px 30px 15px 25px;
}
@media all and (max-width: 600px) {
    #aPropos{
        display:flex;
        flex-flow: column wrap;
        text-align: center;
    }
    h3{
        padding-top:40px;
    }
    #verticalLine{
        border-bottom: 6px solid white;
        border-right: none;
        align-self: center;
        padding-top:none;
        width : 100%;
        text-align: center;
        height : 100px;
    }
    #aProposCol{
        width: 100%;
        padding: 0 25px 0 25px;
    }
    #aProposText{
    width : 100%;
    justify-content: 100%;
    }
}


/*Chronological background*/

#chronology{
    margin-top: 10px;
    background-color: #a37774;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

h4{
    font-size : 26px;
    padding-left:50px;
    padding-top : 40px;
    font-weight: bold;
    color:white;
}

h5{
    padding-bottom :10px;
}

.main-timeline4{
    overflow:hidden;position:relative;padding-top : 20px;}
.main-timeline4:before{content:"";width:5px;height:84%;background:#333;position:absolute;top:70px;left:50%;transform:translateX(-50%)}
.main-timeline4 .timeline-content:before,.main-timeline4 .timeline:before{top:50%;transform:translateY(-50%);content:""}
.main-timeline4 .timeline{width:50%;padding-left:100px;float:right;position:relative}
.main-timeline4 .timeline:before{width:20px;height:20px;border-radius:50%;background:#fff;border:5px solid #333;position:absolute;left:-10px}
.main-timeline4 .timeline-content{
    display:block;padding-left:150px;position:relative}
.main-timeline4 .timeline-content:before{width:90px;height:10px;border-top:7px dotted #333;position:absolute;left:-92px}
.main-timeline4 .year{
    display:inline-block;width:120px;height:120px;line-height:100px;border-radius:50%;border:10px solid #5c6d70;font-size:30px;color:#ffffff;text-align:center;box-shadow:inset 0 0 10px rgba(0,0,0,.4);position:absolute;top:0;left:0}
.main-timeline4 .year:before{
    content:"";border-left:20px solid #5c6d70;border-top:10px solid transparent;border-bottom:10px solid transparent;position:absolute;bottom:-13px;right:0;transform:rotate(45deg)}
.main-timeline4 .inner-content{padding:20px 0}
.main-timeline4 .title{
    font-size:20px;font-weight:500;color:#ffffff;text-transform:uppercase;margin:0 0 5px}
.main-timeline4 .description{
    font-size:16px;color:#212529;margin:0 0 5px}
.main-timeline4 .timeline:nth-child(2n){padding:0 100px 0 0}
.main-timeline4 .timeline:nth-child(2n) .timeline-content:before,.main-timeline4 .timeline:nth-child(2n) .year,.main-timeline4 .timeline:nth-child(2n):before{left:auto;right:-10px}
.main-timeline4 .timeline:nth-child(2n) .timeline-content{padding:0 150px 0 0}
.main-timeline4 .timeline:nth-child(2n) .timeline-content:before{right:-92px}
.main-timeline4 .timeline:nth-child(2n) .year{right:0}
.main-timeline4 .timeline:nth-child(2n) .year:before{right:auto;left:0;border-left:none;border-right:20px solid #e88873;transform:rotate(-45deg)}
.main-timeline4 .timeline:nth-child(2){margin-top:110px}
.main-timeline4 .timeline:nth-child(odd){margin:-110px 0 0}
.main-timeline4 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline4 .timeline:first-child,.main-timeline4 .timeline:last-child:nth-child(even){margin:0}
.main-timeline4 .timeline:nth-child(2n) .year{border-color:#e88873;color:#ffffff}
.main-timeline4 .timeline:nth-child(2) .year:before{border-right-color:#e88873}
.main-timeline4 .timeline:nth-child(2n) .title{color:#ffffff}
.main-timeline4 .timeline:nth-child(3n) .year{border-color:#484a47;color:#ffffff}
.main-timeline4 .timeline:nth-child(3) .year:before{border-left-color:#484a47}
.main-timeline4 .timeline:nth-child(3n) .title{color:#ffffff}

@media only screen and (max-width:1200px){.main-timeline4 .year{top:50%;transform:translateY(-50%)}
}
@media only screen and (max-width:990px){.main-timeline4 .timeline{padding-left:75px}
.main-timeline4 .timeline:nth-child(2n){padding:0 75px 0 0}
.main-timeline4 .timeline-content{padding-left:130px}
.main-timeline4 .timeline:nth-child(2n) .timeline-content{padding:0 130px 0 0}
.main-timeline4 .timeline-content:before{width:68px;left:-68px}
.main-timeline4 .timeline:nth-child(2n) .timeline-content:before{right:-68px}
}
@media only screen and (max-width:767px){.main-timeline4{overflow:visible}
.main-timeline4:before{height:100%;top:0;left:0;transform:translateX(0)}
.main-timeline4 .timeline:before,.main-timeline4 .timeline:nth-child(2n):before{top:60px;left:-9px;transform:translateX(0)}
.main-timeline4 .timeline,.main-timeline4 .timeline:nth-child(even),.main-timeline4 .timeline:nth-child(odd){width:100%;float:none;text-align:center;padding:0;margin:0 0 10px}
.main-timeline4 .timeline-content,.main-timeline4 .timeline:nth-child(2n) .timeline-content{padding:0}
.main-timeline4 .timeline-content:before,.main-timeline4 .timeline:nth-child(2n) .timeline-content:before{display:none}
.main-timeline4 .timeline:nth-child(2n) .year,.main-timeline4 .year{position:relative;transform:translateY(0)}
.main-timeline4 .timeline:nth-child(2n) .year:before,.main-timeline4 .year:before{border:none;border-right:20px solid #5c6d70;border-top:10px solid transparent;border-bottom:10px solid transparent;top:50%;left:-23px;bottom:auto;right:auto;transform:rotate(0)}
.main-timeline4 .timeline:nth-child(2n) .year:before{border-right-color:#e88873}
.main-timeline4 .timeline:nth-child(3n) .year:before{border-right-color:#484a47}
.main-timeline4 .inner-content{padding:10px}
}

/* Projects Block */

#projectsBlock{
    background-color : #5c6d70;
}

.h-100{
    border: 5px #e88873 solid;
    width:100%;
    max-width: 356px;
    max-height:200px;
    overflow: hidden; 
}

.h-100 img {
    display: block;
    max-width: 356px;
    max-height:200px;
    height: auto !important;
    width: auto;
    -ms-interpolation-mode: bicubic; 
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.card{
    border-radius: 0 !important;
}

.card-body{
    background-color: white;
    border-bottom-right-radius: 20px;
    height: 130px;
    max-width: 356px;
    margin-bottom : 10px;
}

#projectsContainer{
    padding-top : 10px;
    min-height : 770px;
}

/* Skills Block */

.circle {
    width: 200px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
  }
  
  .circle canvas {
    vertical-align: top;
    width: 200px !important;
  }

  .circle strong {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: black;
  }
  
  .circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
  }
  
  .circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
  }

/* #skillsBlock{
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;;
}

#skillsTitle{
    color : #484a47;
}

.skillsText{
    padding-bottom: 8px;
}

.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}

/* ICI : modif 25%*/
/*.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #484a47;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.peach .progress-bar{
    border-color: #e88873;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.lpurple .progress-bar{
    border-color: #a37774;
}
.progress.peach .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.blue .progress-bar{
    border-color: #5c6d70;
}

.progress.pink .progress-bar{
    border-color: #e0ac9d;
}

.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

 */
/* Form */

#form{
    margin-top : 10px;
    background-color: #e88873; 
}

#form h4{
    text-align: center;
    font-size: 34px;
    padding-top : 30px !important;
    padding-left: 0 !important;
}

#form hr{
    max-width : 400px;
    margin-left : auto;
    margin-right : auto;
}

#form form{
    text-align: center;
    justify-content: center;
    padding-bottom : 25px;
}

#form label{
    padding-top: 10px;
    font-size : 18px;
    color: #212529;
}

#form input{
    min-width : 200px;
}

#form textarea{
    min-width : 280px;
}

#form button{
    margin-top : 15px;
    margin-bottom: 15px;
}

/* Footer */

#footer{
    margin-top : 10px;
    background-color: #5c6d70;
    color:white;
    height : 50px;
}

#footer p{
    margin-bottom: 0 !important;
    text-align: center;
    line-height: 50px;
}
#footer i{
    padding-left : 0 !important;
}